.main {
    text-align: center;
    .main-topic{
        color: white;
       
    }
    .discription{
        padding-top: 10vh;
        color: white; 
    }
    .promo-code{
        color: yellow;
        font-weight: bold;

    }
    .video-Title{
        color: white;
        font: 100px;
        padding-top: 10vh;
    }
}