.fees-main{
    color: white;
}
.fees-row{
    padding-left: 10px;
    padding-bottom: 30px;
}
.fees-subtopic{
    font-size: 22px;
    
}
.fees-topic{
    font-size: 26px;
    text-align: center;
}
.fees-table-header{
    font-size: 18px;
 

}
.fees-table-data{
    font-size: 15px;
   
}
.fees-table{
    text-align: center;
}