@import "../../assets//scss/colors.scss";
.summary-main{
    background: black;
}
.dash-col{
    
    padding-top: 20px;
}

.logo-img {
    width: auto;
    height: 30vh;
}
.dash-card{
   
    display: flex;
    min-height: 200px;
    border-radius: 5px;
    border: 3px solid rgba(224, 207, 194, 0.911) !important;
    box-shadow: 3px 1px 10px 2px #8f8585 !important;
}

.card-title{
    text-align: center;
    font-size: 24px;


}
.row-1{
    text-align: center !important;
    display: inline;
}
.prop-img{
    width: auto;
    height: 20vh;
    align-items: center;
    padding: 0 !important;
}
.sub-topic{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.row-two{
    padding: 20px;
    
}
.summery-paper{
    text-align: center;
   
}
.paper-topic1{
    font-size: 30px;
    color: black;
    text-align: center;
}
.paper-topic2{
    font-size: 20px;
    color: black;
    text-align: center;
}
.summery-col{
    padding-bottom: 20px;
}

.yt-window{
    width: 10%;
    height: 10%;
}
.ytp-cued-thumbnail-overlay-image{
    width: 10% !important;
    height: 10% !important;
}
.mail-box{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  

}
.c-share {
    box-shadow: inset 1px 1px 10px black; /* [1] */
    padding: 1rem;
  
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center; /* [2] */
  
    height: 100vh;
  }

.toggle-p{
    padding-left: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.links-social{
    color: white;
    font-size: 40px;
}
.link-col{
    display: flex;
    justify-content: space-evenly;
    text-align: center !important;
}