.broker-col{
    border: 2px solid white;
    padding-top:10px;
    
}
.broker-list-row{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-col{
    color:white;
    text-align: center;
}
    
.broker-name{
    font-size: 26px;
}
.broker-address{
    font-size: 20px;
}
.broker-web{
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.broker-contact{
    color: white;
    padding-left: 50px;
}